  <header>
    <h1>🌟 Pika Trading - Adquiere las cartas que buscas 🌟</h1>
    <nav>
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a href="#">Cartas</a></li>
        <li><a href="#">Sobres</a></li>
        <li><a routerLink="/login">Iniciar sesión</a></li>
      </ul>
    </nav>
  </header>
  
  <!-- Aquí se renderiza el contenido dinámico -->
  <router-outlet></router-outlet>
  
  <footer>
    <div class="footer-content">
      <p>Pika Trading</p>
      <div class="social-icons">
        <!-- Agrega iconos aquí -->
      </div>
      <ul>
        <li><a routerLink="/sobre-nosotros">Quiénes somos</a></li>
        <li><a href="#">Contáctanos</a></li>
        <li><a href="#">FQA</a></li>
      </ul>
    </div>
  </footer>