  <header [ngClass]="{ 'header-cartas': isCartas }" class="main-header">
    <h1>🌟 Pika Trading - Adquiere las cartas que buscas 🌟</h1>
    <nav>
      <ul>

        <!-- Bloque logico del nav barr para admin-->
        <li *ngIf="rol === 'admin'"><a routerLink="/admin">Lista usuarios</a></li>
        <li *ngIf="rol === 'admin'"><a routerLink="/pedidos">Pedidos</a></li>
        <li *ngIf="rol === 'admin'"><a routerLink="/estadisticas">Estadísticas</a></li>
        <!-- Fin bloque logico del nav barr para admin-->
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/cartas">Cartas</a></li>
        <li><a routerLink="/sobres">Sobres</a></li>
        <li>
          <a routerLink="/carrito">
            🛒 Carrito ({{ totalItems }})
          </a>
        </li>        
        <li *ngIf="!usuarioLogueado"><a routerLink="/login">Iniciar sesión</a></li>
        <li *ngIf="usuarioLogueado"><a (click)="cerrarSesion()">Cerrar sesión</a></li>
      </ul>
    </nav>
  </header>
  
  <!-- Aquí se renderiza el contenido dinámico -->
  <router-outlet></router-outlet>
  
  <footer>
    <div class="footer-content">
      <p>Pika Trading</p>
      <div class="social-icons">
        <!-- Agrega iconos aquí -->
      </div>
      <ul>
        <li><a routerLink="/sobre-nosotros">Quiénes somos</a></li>
        <li><a href="/sobre-nosotros">Contáctanos</a></li>
        <li><a href="#">FQA</a></li>
      </ul>
    </div>
  </footer>