<div class="usuarios-admin-contenedor">
  <div class="lista-usuarios">
    <div *ngFor="let u of usuarios" class="tarjeta-usuario">
      <img src="URL_O_ICONO_USUARIO" class="avatar" />
      <div>
        <p><strong>Usuario</strong> {{ u.nombre }}</p>
        <p><strong>Correo</strong> {{ u.email }}</p>
      </div>
      <div class="acciones">
        <button (click)="eliminarUsuario(u.id)">🗑️</button>
        <button (click)="editarUsuario(u.id)">✏️</button>
      </div>
    </div>
  </div>

  <div class="tarjeta-nuevo-usuario">
    <div class="contenido">
      <p class="icono">👤➕</p>
      <p><strong>Añadir nuevo usuario</strong></p>
      <p>Usuarios activos {{ usuarios.length }}</p>
      <button (click)="irAFormularioNuevoUsuario()">➤</button>
    </div>
  </div>
</div>




