<div class="container">
    <h1>Recuperación de cuenta</h1>
    <p>
      Ingresa tu correo electrónico, si este está registrado en nuestro sitio web
      se te será enviado un link al email con el cual podrás restablecer tu contraseña.
    </p>
  
    <form>
      <label for="email">Dirección de correo electrónico</label>
      <input type="email" id="email" placeholder="Ingrese su correo" required />
  
      <button type="submit">Enviar</button>
    </form>
  
    <a href="/registro">¿No tienes cuenta? Regístrate aquí</a>
  </div>
  
